body{
    font-family: 'Gowun Dodum', sans-serif;
}

header {
    background-image: url('../assets/혜민+형욱-182.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.bg-images{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0px;
}

.mainTextArea {
    width: 100%;
    height: 15vh;
    background-color: white;
    text-align: center;
    overflow: auto;
}

.section{
    text-align: center;
    position: relative;
}

.title{
    color:#AE8793;
    text-align: center;
}

.calendar{
    display:inline-grid;
    justify-content:center;
    align-items:center;
    background:#fff;
    border-radius:5px;
    margin-right: 5%;
    margin-left: 5%;
}

.calendarLine{
    width: 100%;;
}

.month{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    font-weight:300;
    
}

.days{
    display: grid;
    justify-content:center;
    align-items:center;
    grid-template-columns: repeat(7, 1fr);
    color:#999;
    font-weight:600;
    margin-bottom:15px;
    
}

.days span{
      justify-self:center;
      align-self:center;
      text-align:center;
      width: 5vh;
}

.dates{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}

.dates button{
    width: 5vh;
    outline:0;
    border:0;
    background:transparent;
    font-family: 'Montserrat', sans-serif;
    justify-self:center;
    align-self:center;
    height:50px;
    border-radius:50px;
    margin:2px;
    transition-duration:.2s;        
}

.dates button:first-child{
    grid-column:2;
}

.today{
    box-shadow:inset 0px 0px 0px 2px #ae8793;
    font-weight:600;
}

.mapdiv{
    font-weight:400; 
    width:100%; 
    height:342px; 
    color:#333; 
}

.map{
    width:100%;
    height: 308px; 
    border:1px solid #ccc;
}

.transportationTitle{
    font-weight: 600;
}

.transportation{
    font-size: small;
}

.map-icon{
    width: 15%;
    height: auto;
    margin-left: 4px;
    margin-right:4px;
}

.parent_title{
    font-weight: 600;
}
.parent{
    font-size: 18px !important;
}

.sendButton{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    background: rgb(213, 168, 145);
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
}

.copy{
    padding: 5px 10px;
    font-size: 0.7rem;
    border: 0px;
    border-radius: 5px;
    background: rgb(206, 206, 206);
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: left;
}
.footer {
    bottom: 0;
    width: 100%;
    height: 1rem; 
    color: #333;
} 

@media only screen and (max-width: 400px) {
    .nav-item {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media only screen and (max-width:992px) {
    .card-columns {
        column-count: 2;
    }
}